<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.t2"
    android:versionCode="1"
    android:versionName="1.4.4"
	android:screenOrientation="portrait" 
		>

	<uses-permission android:name="android.permission.VIBRATE">	</uses-permission>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>	
	<uses-permission android:name="android.permission.READ_LOGS"/>	
	<uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>	
	<uses-permission android:name="android.permission.GET_ACCOUNTS"/>	
	<uses-permission android:name="android.permission.INTERNET"/>	
	<uses-permission android:name="android.permission.BLUETOOTH"/>

    <application android:icon="@drawable/icon" android:label="@string/app_name">
    
		<!-- 
			Turn on remote stack traces 
			Any exceptions that get thrown will be sent to this URL. Look in
			the docs/source folder of the this library project for an example of
			what the remote script should handle.
		-->
		<meta-data android:name="remoteStackTraceEnabled" android:value="true" />
		<meta-data android:name="stackTraceURL" android:value="http://www2.tee2.org/trace/report.php" />
		
		<!-- 
			Turn on analytics 
			Your project will need to have the appropriate jar in the libs 
			directory. The provider code will work with the jar automatically.
			(if the provider is supported).
			You may have to grant your app permission to location data if you
			intent to collect that information.
		-->
		<meta-data android:name="analyticsEnabled" android:value="true" />
		<meta-data android:name="analyticsProvider" android:value="flurry" />
		<meta-data android:name="analyticsKey" android:value="J62LQR3TCMQ6KGJZGBRV" />    

        <activity 
        	android:name=".compassionMeditation.StartupActivity"
        			android:theme="@android:style/Theme.NoDisplay"
        	>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        	
        </activity>


        <activity 
        	android:name=".compassionMeditation.MainChooserActivity"
        	>
            <intent-filter>
            	<action android:name="com.t2.biozen.MAIN_CHOOSER" />
            	<category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        	
        </activity>

        <activity android:name=".compassionMeditation.SplashScreenActivity">
            <intent-filter>
            	<action android:name="com.t2.biozen.SPLASH" />
            	<category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        
        
        </activity>



        <activity android:name=".AndroidSpineServerMainActivity"
        			android:excludeFromRecents="true"
        			android:label="@string/app_name" 
        			android:theme="@android:style/Theme.NoDisplay"
        			android:screenOrientation="portrait"
        			>
            
            
        </activity>

        <activity android:name=".biomap.BioDetailActivity" 
        			android:excludeFromRecents="true"
        			
        			android:label="">
        </activity>

        <activity android:name=".biomap.LogNoteActivity" 
        			android:excludeFromRecents="true"
        			android:label="">
        </activity>

        <activity 
        	android:name=".compassionMeditation.GraphsActivity" 
        	android:excludeFromRecents="true"
        	android:label=""
        	android:screenOrientation="portrait"
        	>
        </activity>

        <activity 
        	android:theme="@android:style/Theme.Light"

        	android:name=".filechooser.FileChooser" 
        	android:label=""
        	android:screenOrientation="portrait"
        	>
        </activity>
        
        <activity 
        	android:name=".compassionMeditation.MainActivity" 
        	android:label="Compassion Meditation App"
        	android:screenOrientation="portrait"
        	>
        	
        </activity>

        <activity 
        	android:name=".compassionMeditation.BuddahActivity" 
        	android:label=""
        	android:screenOrientation="portrait"
        	>
        </activity>

        <activity android:name=".biomap.BioMapActivity" 
        			android:excludeFromRecents="true"
        			android:label="biomap">
        			
        </activity>

        <receiver android:name="t2.spine.communication.android.AndroidMessageServer">
            <intent-filter>
            <action android:name="com.t2.biofeedback.service.spinedata.BROADCAST" />
            </intent-filter>
        </receiver>
        <activity android:name="t2.spine.communication.android.SendBroadcastActivity"></activity>
        <activity 
        
        	android:name=".compassionMeditation.ViewHistoryActivity" 
        	android:screenOrientation="portrait">
        	
        </activity>
        <activity 
        	android:name=".compassionMeditation.BioZenPreferenceActivity"
        	android:screenOrientation="portrait"
        	>
        </activity>



        <activity 
        	android:name=".compassionMeditation.InstructionsActivity"
        	android:screenOrientation="portrait"
        	>
        </activity>
        <activity android:name=".compassionMeditation.SelectUserActivity"></activity>
        <activity android:name=".compassionMeditation.ViewSessionsActivity"></activity>

        <activity android:name=".compassionMeditation.EndSessionActivity"></activity>
        <activity android:name="com.t2.biofeedback.activity.BTServiceManager"></activity>        

    	<receiver
        	android:name="com.t2.biofeedback.BioFeedbackServiceManagerReceiver">
			<intent-filter>
				<action android:name="com.t2.biofeedback.BioFeedbackService"/>
				<action	android:name="com.t2.biofeedback.service.START" />
				<action	android:name="com.t2.biofeedback.service.STOP" />
				<action android:name="android.bluetooth.adapter.action.STATE_CHANGED" />
				<action android:name="com.t2.biofeedback.service.status.BROADCAST" />
				<action android:name="com.t2.biofeedback.server.data.BROADCAST"></action>
			</intent-filter>
		</receiver>
    
		<service	
			android:name="com.t2.biofeedback.BioFeedbackService">
	   		<intent-filter>
	        	<action android:name="com.t2.biofeedback.IBioFeedbackService"/>			
	        </intent-filter>       
		</service>

    </application>
</manifest>